.version.experiences /* version checker */
{
	color: #00000B;
	background-color: #7BAC2C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 489px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #008B08;
	padding: 10px 20px 71px 10px;
}

#pu375
{
	width: 0.01px;
}

#u375
{
	z-index: 2;
	width: 89px;
	margin-right: -10000px;
}

#pu378-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 99px;
}

#u378-4
{
	z-index: 4;
}

#u380-4
{
	z-index: 12;
	margin-top: 14px;
}

#pu379-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 220px;
}

#u379-4
{
	z-index: 8;
}

#u381-4
{
	z-index: 16;
	margin-top: 14px;
}

#u384-6
{
	z-index: 20;
	width: 263px;
	min-height: 42px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	margin-left: 48px;
	margin-top: 9px;
	position: relative;
}

#u384,#u384-3
{
	text-decoration: underline;
}

#u385-8
{
	z-index: 26;
	width: 340px;
	min-height: 298px;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	margin-left: 10px;
	margin-top: 26px;
	position: relative;
}

#u385-4
{
	text-align: left;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

